{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Hassan Abid - Blog</title>

  <!-- CSS  -->
  <link href="{% static 'portfolio/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'portfolio/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="deep-purple" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Blog</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#">Skills</a></li>
       <li><a href="#">Projects</a></li>
        <li><a href="#">News</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">Skills</a></li>
       <li><a href="#">Projects</a></li>
        <li><a href="#">News</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="parallax-container" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">"Simplicity is the ultimate sophistication."</h1>
      <div class="row center">
        <h5 class="header col s12 light"><span class="white-text">Steve Jobs</span></h5>
      </div>
      <div class="row center">
        <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light light-blue">Get Started</a>
      </div>
      <br><br>

    </div>
     <div class="parallax"><img src="{% static 'portfolio/images/blog_background1.jpg' %}"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      {% if blog_posts %}
      {% for post in blog_posts %}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ post.post_photo.url }}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ post.post_title}}</span>
            <p><a href="/blog/{{ post.id }}">Read more</a></p>
            </div>
            <div class="card-action">
              <a href="#">Category</a>
              <a href='#'>Tags</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <p>No posts are available.</p>
        {% endif %}
         <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/apple-laptop-notebook-notes.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title</span>
            <p><a href="#">Read more</a></p>
            </div>
            <div class="card-action">
             <a href="#">Category</a>
              <a href='#'>Tags</a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/mountains-nature-sunny-bridge.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title</span>
            <p><a href="#">Read more</a></p>
            </div>
            <div class="card-action">
              <a href="#">Category</a>
              <a href='#'>Tags</a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/wood-landscape-mountains-nature.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Card Title</span>
            <p><a href="#">Read more</a></p>
            </div>
            <div class="card-action">
              <a href="#"><span class="purple-text darken-4">Category</span></a>
              <a href='#'>Tags</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <br><br>
    <div class="section">
    </div>
  </div>

  <footer class="page-footer deep-purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'portfolio/js/materialize.js' %}"></script>
  <script src="{% static 'portfolio/js/init.js' %}"></script>

  </body>
</html>
