{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Hassan Abid - Blog</title>

  <!-- CSS  -->
   <!-- <link href="{% static 'portfolio/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="{% static 'portfolio/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <!-- Fb Tags-->
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" /> 
    <meta property="og:title" content="Hassan Abid - Blog" /> 
    <meta property="article:author" content="https://www.facebook.com/hassanabidpk89" />
    <meta property="og:description" content="Hassan is working as Senior software engineer (iOS application developer).He was key player of the team who developed KineMaster (video editing app). He teaches Python and Android programming through a community MOOC Circle which he co-founded with colleague in Seoul. He is also a free-lance full-stack developer and loves to share code via Github." /> 
    <meta property="og:image"content="{% static 'portfolio/images/hassan_gdgkorea.jpg' %}" />
    <meta property="og:url" content="http://hassanabid.com" />
</head>
<body>
  <nav class="deep-purple" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Blog</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#">News</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="#">News</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <div class="parallax-container" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">"Simplicity is the ultimate sophistication."</h1>
      <div class="row center">
        <h5 class="header col s12 light"><span class="white-text">Steve Jobs</span></h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light light-blue">Read below</a>
      </div>
      <br><br>

    </div>
     <div class="parallax"><img src="{% static 'portfolio/images/blog_background1.jpg' %}"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
      {% if blog_posts %}
      {% for post in blog_posts %}
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{{ post.post_photo.url }}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">{{ post.post_title}}</span>
            <p><a href="/blog/{{ post.id }}">Read more</a></p>
            </div>
            <div class="card-action">
              <a style="color: #ff4081;" href="#"><span class="text-blue text-accent-2">{{ post.post_category }}</span></a>
              <a style="color: #ff80ab;" href='#'>{{ post.post_tags }}</a>
            </div>
          </div>
        </div>
        {% endfor %}
        {% else %}
        <h3>No posts are available.</h3>
        {% endif %}
      </div>
    </div>
    <br><br>
    <div class="section">
    </div>
  </div>

  <footer class="page-footer deep-purple">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
           <h5 class="white-text">About me</h5>
          <p class="grey-text text-lighten-4">I am working as Senior software engineer (Android application developer).I am key player of the team who developed KineMaster (video editing app). I teach Python and Android programming through a community MOOC Circle which I co-founded with colleague in Seoul. I am also a free-lance full-stack developer and loves to share code via Github.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/blog/latest/">Blog</a></li>
            <li><a class="white-text" href="#!">MOOC Circle</a></li>
            <li><a class="white-text" href="#!">Seoul Mate</a></li>
            <li><a class="white-text" href="#!">Linkedin</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/hassanabidpk">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hassanabidpk">Github</a></li>
            <li><a class="white-text" href="#!">Medium</a></li>
            <li><a class="white-text" href="#!">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      and <a class="yellow-text text-darken-4" 
       href="http://djangoproject.com">Django</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- <script src="{% static 'portfolio/js/materialize.js' %}"></script> -->
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="{% static 'portfolio/js/init.js' %}"></script>

  </body>
</html>
