{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Hassan Abid</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Hassan Abid, a Pakistan native, has been living in Korea for five years as an App and web developer. He has worked with many programming languages on many projects. In his free time he is an organizer of a programming study meetup that has been meeting regularly for a year and a half. He believes in open source information, open education and learning through teacher.">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

<!--     <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'> -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS  -->
  <!-- <link href="{% static 'portfolio/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="{% static 'portfolio/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Fb Tags-->
    <meta property="og:type" content="article" />
    <meta property="og:locale" content="en_US" /> 
    <meta property="og:title" content="Hassan Abid" /> 
    <meta property="article:author" content="https://www.facebook.com/hassanabidpk89" />
    <meta property="og:description" content="Hassan Abid, a Pakistan native, has been living in Korea for five years as an App and web developer. He has worked with many programming languages on many projects. In his free time he is an organizer of a programming study meetup that has been meeting regularly for a year and a half. He believes in open source information, open education and learning through teacher." /> 
    <meta property="og:image"content="{% static 'portfolio/images/hassan_gdgkorea.jpg' %}" />
    <meta property="og:url" content="http://hassanabid.com" />

  </head>
  <body>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32474920-2', 'auto');
  ga('send', 'pageview');

  </script>
  <div class="navbar-fixed">
  <nav class="red" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Hassan Abid</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#skills">Skills</a></li>
        <li><a href="#project">Projects</a></li>
        <li><a href="#">MOOC</a></li>
        <li><a href="/blog/latest">Blog</a></li>
        <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Coming soon" >Hacks</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#skills">Skills</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="/blog/latest">Blog</a></li>
        <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Coming soon" >Hacks</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  </div>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br><br><br>
        <h1 class="header center white-text text-lighten-2">Learn &amp; Code</h1>
        <div class="row center">
          <h5 class="header col s12 grey-text text-lighten-1 light">Motto: Write beautiful, simple and expressive code</h5>
        </div>
<!--         <div class="row center">
          <a href="#" id="download-button" class="btn-large waves-effect waves-light green lighten-1">Get Started</a>
        </div> -->
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'portfolio/images/sunglasses-apple-iphone-desk_r.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>


  <div class="container">
    <div class="section" id="skills">

      <!--   Icon Section   -->
      <div class="row">
      <div class="col s12 m6 l6">
          <ul class="collection">
           <li class="collection-item avatar">
            <img src="{% static 'portfolio/images/android.jpg' %}" alt="" class="circle">
            <span class="title">Android</span>
            <p class="grey-text darken-1">App development<br>
              <span class="green-text">KineMaster,Seoul Mate </span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
            <li class="collection-item avatar">
            <img src="{% static 'portfolio/images/java.png' %}" alt="" class="circle">
            <span class="title">Java</span>
            <p class="grey-text darken-1">Algorithms, Android <br>
              <span class="green-text">App Development </span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/objectc.png' %}" alt="" class="circle">
            <span class="title">Objective-C</span>
            <p class="grey-text darken-1">SDK and App Development <br>
              <span class="green-text">NexPlayerSDK, Seoul Mate</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
           <img src="{% static 'portfolio/images/swift.png' %}" alt="" class="circle">
            <span class="title">Swift</span>
            <p class="grey-text darken-1">App Development<br>
               <span class="green-text">NexPlayer, Awera app</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/php.jpg' %}" alt="" class="circle">
            <span class="title">PHP</span>
            <p class="grey-text darken-1">MVC, Laravel, Phalcon <br>
              <span class="green-text">Global MOOC Campus</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/python.png' %}" alt="" class="circle">
            <span class="title">Python</span>
            <p class="grey-text darken-1">Django, Google App Engine <br>
              <span class="green-text">Portfolio site, Seoul Mate, MOOC Circle</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/github.png' %}" alt="" class="circle">
            <span class="title">Github</span>
            <p class="grey-text darken-1">Git, Gerrit Code Review<br>
              <span class="green-text">hassanabidpk</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
        </ul>
        </div>
        <div class="col s12 m6 l6">
          <ul class="collection">
            <li class="collection-item avatar">
            <img src="{% static 'portfolio/images/gcloud.png' %}" alt="" class="circle">
            <span class="title">Google Cloud Platform</span>
            <p class="grey-text darken-1">App Engine <br>
               <a href=""><span class="green-text">Personal blog(Udacity)</span></a>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade green-icon"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/django.png' %}" alt="" class="circle">
            <span class="title">Django Web Framework</span>
            <p class="grey-text darken-1">Backend <br>
             <span class="green-text">Portfolio site, Seoul Mate</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
           <img src="{% static 'portfolio/images/angular.jpg' %}" alt="" class="circle">
            <span class="title">Angular JS</span>
            <p class="grey-text darken-1">Front end<br>
             <span class="green-text">Portfolio site</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/parse.jpeg' %}" alt="" class="circle">
            <span class="title">Parse</span>
            <p class="grey-text darken-1">Mobile and Web cloud banckend<br>
             <span class="green-text">Seoul Mate, Awera app</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/express.png' %}" alt="" class="circle">
            <span class="title">Express JS</span>
            <p class="grey-text darken-1">Web Framework<br>
             <span class="green-text">Seoul Mate web app</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/jenkins.png' %}" alt="" class="circle">
            <span class="title">Jenkins</span>
            <p class="grey-text darken-1">Web Framework<br>
             <span class="green-text">Automation of NexPlayerSDK</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
          <li class="collection-item avatar">
             <img src="{% static 'portfolio/images/shell.png' %}" alt="" class="circle">
            <span class="title">Shell Script</span>
            <p class="grey-text darken-1">Automation for android and ios Build<br>
             <span class="green-text">NexPlayerSDK,Seoul Mate</span>
            </p>
            <a href="#!" class="secondary-content"><i class="mdi-action-grade"></i></a>
          </li>
        </ul>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row">
          <h5 class="header col s12 white-text light right-align"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'portfolio/images/source_code_r.jpg' %}" alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section" id="project">
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/person-beach-holiday-vacation.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">KineMaster<i class="mdi-navigation-more-vert right"></i></span>
            </div>
             <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">KineMaster <i class="mdi-navigation-close right"></i></span>
          <p><a href="https://play.google.com/store/apps/details?id=com.nexstreaming.app.kinemasterfree">KineMaster</a>(formerly NexEditor™) is an avant-garde video editing tool provided for Android smartphones and tablets built on the experience and technological expertise NexStreaming has in the embedded field. I developed Social Sharing SDK (Facebook, Youtube,Google+, Google Drive, Dropbox) for KineMaster as well as some of the UI Components </p>

        </div>
            <div class="card-action">
              <a href="#" style="color: #ff4081;">Android</a>
              <a href='#'></a>
            </div>
          </div>
        </div>

         <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/apple-laptop-notebook-notes.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">NexPlayer SDK<i class="mdi-navigation-more-vert right"></i></span>
            </div>
             <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">NexPlayer SDK <i class="mdi-navigation-close right"></i></span>
          <p><a href="http://www.nexstreaming.com/products">NexPlayer</a> SDK is an HLS player SDK for Android, iOS, Windows Phone 8 and Android TV. My role in NexPlayer team is to develop modern APIs using Apple's new programming language Swift. Moreover, I also developed NexPlayer sample app using Swift</p>
        </div>
            <div class="card-action">
             <a href="#" style="color: #ff4081;">iOS, Android</a>
              <a href='#'></a>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/changdeok.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Seoul Mate<i class="mdi-navigation-more-vert right"></i></span>
            </div>
            <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Seoul Mate<i class="mdi-navigation-close right"></i></span>
          <p>Seoul Mate is a diverse community - comprising of students, teachers, residents, travelers, and more. Our purpose is to provide information about Korean language, jobs, internships, scholarships and everyday life in South Korea. Until now, We have developed an <a href="https://play.google.com/store/apps/details?id=com.sisfgroupd.seoulmappedia">android app</a> as well as <a href="http://seoulmateapp.co">website</a>. iOS app is coming at the end of July</p>
        </div>
            <div class="card-action">
              <a href="#" style="color: #ff4081;">iOS,Android,Web</a>
              <a href='#'></a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/apple-camera-desk-office.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">MOOC Circle<i class="mdi-navigation-more-vert right"></i></span>
            </div>
            <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">MOOC Circle<i class="mdi-navigation-close right"></i></span>
          <p>With <a href="http:mooccircle.github.io">MOOC Circle,</a> our mission is to gather people who are taking online courses enthusiastically and those who want to go one further step ahead towards Social Learning. We believe that the social hub of a MOOC can potentially empower people to advance their careers.

We started with a small team of three, however we hope that many people will join our hub both in capacity of mentors and students. Our focus is primarily on practical computer science fields such as Android apps developments, and full stack web development. In near future, we plan to launch an English language course too.</p>
        </div>
            <div class="card-action">
              <a href="#" style="color: #ff4081;">Community</a>
              <a href='#'></a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/mountains-nature-sunny-bridge.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Awera App (iOS)<i class="mdi-navigation-more-vert right"></i></span>
            </div>
            <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Awera <i class="mdi-navigation-close right"></i></span>
          <p>This app lets you buy a mobile top up card for people residing in Ethiopia. It is easy to use and fast top up app. I am developing iOS version of the app using Swift programming language</p>
        </div>
            <div class="card-action">
              <a href="#" style="color: #ff4081;">iOS</a>
              <a href='#'></a>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="{% static 'portfolio/images/woman-hand-smartphone-desk.jpg' %}">
            </div>
            <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Django Girls<i class="mdi-navigation-more-vert right"></i></span>
            </div>
            <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Django Girls - Seoul<i class="mdi-navigation-close right"></i></span>
          <p>If you are a female and you want to learn how to make websites, we have good news for you! We are holding a one-day workshop for beginners in Seoul! <a href="https://www.djangogirls.org/seoul/">Django Girls Seoul</a> is organized by Rachell Calhoun with support from members of the programming community.</p>
        </div>
            <div class="card-action">
              <a href="#" style="color: #ff4081;">Event</a>
              <a href='#'></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section"></div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">My dream is to get to top of K2 summit!</h3>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'portfolio/images/k2_1_r.jpg' %}" alt="Unsplashed background img 3"></div>
  </div>

  <footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About this site</h5>
          <p class="grey-text text-lighten-4">I created my portfolio site using Materialize (based on Google's Material design) and Django Framework. I sincerely thank Jin Park for helping me out with Django, without that it would have not been possible</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/blog/latest">Blog</a></li>
            <li><a class="white-text" href="#!">MOOC Circle</a></li>
            <li><a class="white-text" href="#!">Seoul Mate</a></li>
            <li><a class="white-text" href="#!">Linkedin</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/hassanabidpk">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hassanabidpk">Github</a></li>
            <li><a class="white-text" href="#!">Medium</a></li>
            <li><a class="white-text" href="#!">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      and <a class="teal-text text-darken-4" 
       href="http://djangoproject.com">Django</a>
      </div>
    </div>
  </footer>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <!-- <script src="{% static 'portfolio/js/materialize.js' %}"></script> -->
 <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="{% static 'portfolio/js/init.js' %}"></script>
  </body>
</html>
