{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>{{ post.post_title}}</title>

 <!-- <link href="{% static 'portfolio/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/> -->
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <link href="{% static 'portfolio/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <meta property="og:title" content="{{ post.post_title }}" />
  <meta property="og:description" content="{{ post.post_content }}" />
  <meta property="og:url" content="http://hassanabid.com/blog/{{ post.id }}" />
  <meta property="og:image" content="http://hassanabid.com/{{ post.post_photo.url }}" />
</head>
<body>
<div id="fb-root"></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-32474920-2', 'auto');
  ga('send', 'pageview');

</script>
{% block js %}
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '722253317920977',
      xfbml      : true,
      version    : 'v2.3'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock js %}
  <nav class="green darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/blog/latest" class="brand-logo">Blog</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="#" class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Coming soon" >Hacks</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/blog/latest/">Blog</a></li>
        <li><a href="#" class="tooltipped" data-position="right" data-delay="50" data-tooltip="Coming soon" >Hacks</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>
  <!-- <div class="parallax-container" id="index-banner"> -->
      <div class="section green">
        <div class="row center">
          <div class="col s12 m8 l8 offset-m2 offset-l2">
          <h3>{{ post.post_title }}</h3>
          <p class="pink-text accent-2">{{ post.post_published|date}}</p>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="section">
          <div class="row">
          <div class="col s12 m12 l12">
          <h6 style="line-height: 140%;">{{ post.post_content|safe}}</h6>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
        {% if post.post_category %}
          <a class="waves-effect waves-light btn green darken-2"><i 
          class="material-icons left"></i>{{ post.post_category}}</a>
         {% endif %}
         &nbsp;&nbsp;&nbsp;
        {% if post.post_tags %}
          <a class="waves-effect waves-light btn green darken-3"><i 
          class="material-icons left"></i>{{ post.post_tags }}</a>
         {% endif %}
        </div>
      </div>
      <div class="divider"></div>
       {% if post.post_photo %}
      <div class="section">
        <div class="row">
          <div class="col s12 m8 l8 offset-m2 offset-l2">
            <img src="{{ post.post_photo.url }}" class="responsive-img materialboxed">
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  <!-- </div> -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large pink accent-2">
      <i class="large material-icons">share</i>
    </a>
    <ul>
      <li><a class="btn-floating blue darken-1" 
      href="https://www.linkedin.com/shareArticle?mini=true&url=http://hassanabid.com/blog/{{post.id}}&title={{ post.post_title|urlencode }}&summary={{ post.post_content|urlencode }}&source=Hassan%20Abid"
      ><i class="fa  fa-linkedin  fa-2x" style="color:#fff;"></i></a></li>
      <li><a class="btn-floating light-blue darken-4" href="" onclick="fbshare()"><i class="fa  fa-facebook  fa-2x"></i></a></li>
      <li><a class="btn-floating light-blue accent-3" href="https://twitter.com/intent/tweet?text={{post.post_title|urlencode}}&url={{ 'http://hassanabid.com/blog/'|urlencode:''}}{{ post.id|urlencode:''}}&via=hassanabidpk"><i class="fa  fa-twitter  fa-2x"></i></a></li>
      <li><a class="btn-floating red darken-2" href="https://plus.google.com/share?url={{ 'http://hassanabid.com/blog/'|urlencode:''}}{{ post.id|urlencode:''}}"><i class="fa fa-google-plus fa-2x"></i></a></li>
    </ul>
  </div>

  <footer class="page-footer green">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About me</h5>
          <p class="grey-text text-lighten-4">I am working as Senior software engineer (Android application developer).I am key player of the team who developed KineMaster (video editing app). I teach Python and Android programming through a community MOOC Circle which I co-founded with colleague in Seoul. I am also a free-lance full-stack developer and loves to share code via Github.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="/blog/latest">Blog</a></li>
            <li><a class="white-text" href="#!">MOOC Circle</a></li>
            <li><a class="white-text" href="#!">Seoul Mate</a></li>
            <li><a class="white-text" href="#!">Linkedin</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://twitter.com/hassanabidpk">Twitter</a></li>
            <li><a class="white-text" href="https://github.com/hassanabidpk">Github</a></li>
            <li><a class="white-text" href="#!">Medium</a></li>
            <li><a class="white-text" href="#!">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made with <a class="orange-text text-lighten-3" 
      href="http://materializecss.com">Materialize</a> and
       <a class="teal-text text-darken-4" 
       href="http://djangoproject.com">Django</a>
      </div>
    </div>
  </footer>

<script>
    function fbshare(){
        FB.ui({
          method: 'share',
          href: 'http://hassanabid.com/blog/{{ post.id }}',
          picture: 'http://hassanabid.com{{ post.post_photo.url }}',
          caption: '{{ post.post_title }}',
        }, function(response){});
    }
</script>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
 <!-- <script src="{% static 'portfolio/js/materialize.js' %}"></script> -->
 <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <script src="{% static 'portfolio/js/init.js' %}"></script>

  </body>
</html>
